body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.animatedBg {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #000, #0d3068, #236fb1);
  background-size: 150% 150%;
  animation: bgAnimatedGradient 20s infinite ease;
}

@keyframes bgAnimatedGradient {
  0% {
    background-position: 0% 85%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 85%;
  }
}

.MainArea {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  color: white;
}

/* //////////////   Navbar Main   /////////////////// */

.navbarMain1 {
  background-color: black;
  color: white;
  width: 100vw;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding: 5px;
  display: flex;
  flex-direction: row-reverse;
}
.navbarMain1 span {
  margin-right: 20px;
}

.navbarMain2 {
  background-color: white;
  color: black;
  width: 100vw;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

