body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #000;
}
.animatedBg {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f2f;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(120deg, #000, #0d3068, #10397c, #2166a3, #236fb1);
  background-size: 200% 200%;
  animation: bgAnimatedGradient 10s infinite ease;
}

@keyframes bgAnimatedGradient {
  0% {
    background-position: 0% 85%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 85%;
  }
}

.MainArea {
  margin: 0;
  padding: 0;
  color: white;
}

/* //////////////   Navbar Main   /////////////////// */

.navbarMain1 {
  background-color: black;
  color: white;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  padding: 7px;
  display: flex;
  flex-direction: row-reverse;
}
.navbarMain1Fix {
  position: fixed;
  top: 0;
}
.navbarMain1 span, .fixSpace {
  margin-right: 20px;
}

.navbarMain2 {
  background-color: white;
  color: black;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.startNavBtns img {
  margin-left: 30px;
  cursor: pointer;
}

.centerNavBtns {
  /* border: 1px solid green; */
  display: flex;
}

.centerNavBtnsA {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  padding: 7px;
  margin: 7px;
  color: black;
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
  transition: 0.2s;
  /* height: 25px; */
  /* border: 1px solid red; */
} .centerNavBtnsA:hover {
  border-bottom: 3px solid #0d3068;
}

.endNavBtns {
  display: flex;
  flex-direction: column;
}
.endNavBtnsA {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  padding: 7px 5px;
  margin: 2px 7px;
  color: black;
  text-decoration: none;
  font-size: medium;
  cursor: pointer;
  transition: 0.2s;
  /* height: 25px; */
  /* border: 1px solid red; */
} .endNavBtnsA:hover {
  border-bottom: 3px solid #0d3068;
}

/* //////////////   Footer Main   /////////////////// */

.footerMain {
  background-color: #000;
  width: 100%;
  /* min-height: 100px; */
}


/* //////////////   Home Main   /////////////////// */

.homeMain {
}

/* //////////////   Home Body   /////////////////// */

.HomePageMain {
  /* overflow-y: auto; */
  min-height: 500px;
  width: 100%;
  /* border: 1px solid red; */
  font-family: Arial, Helvetica, sans-serif
}

.HomePageTopBanner {
  width: 100%;
} .HomePageTopBanner img {
  padding: 5vw;
  width: 100%;  
}

.HomePageCrossSection {
  padding: 5vw;
}

.ps4Img {
  height: 0;
  position: relative;
  left: 550px;
  top: -530px;
}
.ps5Img {
  height: 0;
  position: relative;
  left: 900px;
  top: -480px;
}
.ps4Img.scrolled {
  position: relative;
  top: -430px;
}
.ps5Img.scrolled {
  position: relative;
  top: -380px;
}
/* @supports (animation-timeline) {
  #my-div {
    animation-name: move-down;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-timeline: scroll 0.5s;
  }
} */
/* 
@keyframes move-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
} */
.countGS {
  width: 100%;
  height: 90px;
  display: flex;
  text-align: center;
  align-items: center;
  height: fit-content;
  font-size: 30px;
  font-weight: 800;
  color: white;
  /* border: 1px solid red; */
} .countGSIn {
  font-weight: 600;
  font-size: 80px;
} #countGSIn1 {
  margin-left: 140px;
} #countGSIn2 {
  margin-left: 300px;
}

.HomeCategoryBoxes {
  padding: 0 7vw;
  margin-bottom: 7vw;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
} .ps5GamesBoxHome {
  cursor: pointer;
  height: 600px;
  width: 500px;
  box-shadow: 5px 5px 15px #00000050;
  background-color: white;
  background-image: url("https://multiplayer.net-cdn.it/thumbs/images/2020/10/29/final-fantasy-16-keyart_jpg_0x0_q85.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
} .ps4GamesBoxHome {
  cursor: pointer;
  height: 600px;
  width: 500px;
  box-shadow: 5px 5px 15px #00000050;
  background-color: white;
  background-image: url("https://i.pinimg.com/736x/14/70/8c/14708c6f065703456162f895387d0ec2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
}
#dsController5 {
  position: relative;
  left: 430px;
  top: 60px;
  rotate: -15deg;
}
#dsController4 {
  position: relative;
  left: -240px;
  top: 350px;
  rotate: 15deg;
}

.middleSectionExplore {
  margin: 0 7vw;
}
.HomePageOtherServices {
  margin: 7vw;
  padding: 30px 20px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}


.ps5AccountsPage {
  min-height: 500px;
}

/* //////////////   FOOTER COMPONENT PAGE   ////////////////// */
.footerMain {
  padding: 3vw 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.footerLogo img {

}
.centerPagesFooter {
  display: flex;
  flex-direction: row;
  justify-content: center space-around;
} .reactLinks {
  font-weight: bolder;
  font-size: larger;
  color: white;
  text-decoration: none;
}
.lastLinksFooter {
  list-style: none;
  font-size: medium;
  font-weight: 600;
}