body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.animatedBg {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f2f;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(120deg, #000, #0d3068, #236fb1);
  background-size: 150% 150%;
  animation: bgAnimatedGradient 20s infinite ease;
}

@keyframes bgAnimatedGradient {
  0% {
    background-position: 0% 85%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0% 85%;
  }
}

.MainArea {
  margin: 0;
  padding: 0;
  color: white;
}

/* //////////////   Navbar Main   /////////////////// */

.navbarMain1 {
  background-color: black;
  color: white;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  padding: 7px;
  display: flex;
  flex-direction: row-reverse;
}
.navbarMain1 span, .fixSpace {
  margin-right: 20px;
}

.navbarMain2 {
  background-color: white;
  color: black;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.startNavBtns img {
  margin-left: 30px;
  cursor: pointer;
}

.centerNavBtns button {
  background-color: white;
  border: none;
  border-bottom: 3px solid #fff;
  padding: 7px;
  margin: 7px;
  color: black;
  font-size: medium;
  cursor: pointer;
  transition: 0.2s;
} .centerNavBtns button:hover {
  border-bottom: 3px solid #0d3068;
}

.endNavBtns button {
  background-color: white;
  border: none;
  border-bottom: 3px solid #fff;
  padding: 5px;
  margin: 2px 7px;
  color: black;
  font-size: medium;
  cursor: pointer;
  transition: 0.2s;
} .endNavBtns button:hover {
  border-bottom: 3px solid #0d3068;
}

/* //////////////   Footer Main   /////////////////// */

.footerMain {
  background-color: #000;
  width: 100%;
  min-height: 100px;
}


/* //////////////   Home Main   /////////////////// */

.homeMain {
}

/* //////////////   Home Body   /////////////////// */

.HomePageMain {
  /* overflow-y: auto; */
  min-height: 500px;
  width: 100%;
  /* border: 1px solid red; */
  font-family: Arial, Helvetica, sans-serif
}

.HomePageTopBanner {
  width: 100%;
} .HomePageTopBanner img {
  padding: 5vw;
  width: 90%;  
}

.HomePageCrossSection {
  padding: 5vw;
}
